<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 
  <pluginGroups>
   
  </pluginGroups>

  <proxies>
    <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>192.168.0.20</host>
      <port>8080</port>
      <nonProxyHosts>192.168.*|localhost</nonProxyHosts>
    </proxy>
  </proxies>

 
  <servers>
  		<server>
            <id>TecnocredNexus</id>
            <username>deployment</username>
            <password>deployment123!@#</password>
        </server>
  </servers>

  
  <mirrors>
	 <mirror>
        <id>nexus</id>
        <name>Nexus</name>
        <mirrorOf>*</mirrorOf>
        <url>http://nexus.e-unicred.com.br:9080/nexus/content/groups/public/</url>
    </mirror>
  </mirrors>
  
  
  	<profiles>
  		<profile>
            <id>redhat-techpreview-all-repository</id>
            <repositories>
                <repository>
                    <id>redhat-techpreview-all-repository</id>
                    <name>Red Hat Tech Preview repository (all)</name>
                    <url>http://maven.repository.redhat.com/techpreview/all/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>redhat-techpreview-all-repository</id>
                    <name>Red Hat Tech Preview repository (all)</name>
                    <url>http://maven.repository.redhat.com/techpreview/all/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>unicred</id>
            <repositories>
                <repository>
                    <id>nexus</id>
                    <name>Nexus</name>
                    <url>http://nexus.e-unicred.com.br:9080/nexus/content/groups/public/</url>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>sonar</id>
            <properties>
                <sonar.host.url>http://sonar.e-unicred.com.br/</sonar.host.url>
            </properties>
        </profile>
    </profiles>

	<activeProfiles>
        <activeProfile>redhat-techpreview-all-repository</activeProfile>
        <activeProfile>unicred</activeProfile>
        <activeProfile>sonar</activeProfile>
    </activeProfiles>
</settings>
